<div ng-controller="mainController">
	<div class="scrollable">
		<div class="scrollable-content">
			<br/>
			<div class="header_sub"><h4>Student Details<h4></div>
			<table class="table table-hover">
				<tbody>
					<tr><td><img src="{{studentImage}}" alt="Student Image" height="50" width="50"/></td>
						<td>{{studentName}}</span ></td>
					</tr>
					<tr ng-repeat="details in studentDetails">
						<td>{{details.key}}</td>
						<td>{{details.value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
